# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
# Starting by importing pandas and storing the data frame in the insurance variable

import pandas as pd

insurance = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

### Challenge 1 - Question/answer: ###
Identify the dimensions of the dataset by determining the number of rows and columns it contains.

In [2]:
insurance.shape

(4008, 11)

### Challenge 1 - Question/answer: ###
Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.

In [3]:
display(insurance.head())

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [4]:
#before, lowering case of column titles

cols = []
for colname in insurance.columns:
    cols.append(colname.lower())
insurance.columns = cols

insurance.head()

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [5]:
#checking which columns have numeric data values

insurance._get_numeric_data()

       income  monthly premium auto  total claim amount
0         0.0                1000.0            2.704934
1         0.0                  94.0         1131.464935
2     48767.0                 108.0          566.472247
3         0.0                 106.0          529.881344
4     36357.0                  68.0           17.269323
...       ...                   ...                 ...
4003      NaN                   NaN                 NaN
4004      NaN                   NaN                 NaN
4005      NaN                   NaN                 NaN
4006      NaN                   NaN                 NaN
4007      NaN                   NaN                 NaN

[4008 rows x 3 columns]

In [6]:
#checking overall, data type of each columns

display(insurance.dtypes)

customer                      object
st                            object
gender                        object
education                     object
customer lifetime value       object
income                       float64
monthly premium auto         float64
number of open complaints     object
policy type                   object
vehicle class                 object
total claim amount           float64
dtype: object

In [7]:
#Cleaning customer lifetime value: 

#checking number of counts of customer lifetime value values, including and most importantly number of NaN
insurance['customer lifetime value'].value_counts(dropna=False)

customer lifetime value
NaN            2940
445811.34%        4
251459.20%        4
2412750.40%       3
684615.03%        3
               ...
1210120.88%       1
245357.08%        1
507566.27%        1
321497.94%        1
899704.02%        1
Name: count, Length: 1028, dtype: int64

In [8]:
#Cleaning customer lifetime value: 

#using the function fillna("0"), to substitute the NaN value with the strin "0" in the column CLTV

insurance['customer lifetime value']= insurance['customer lifetime value'].fillna("0")

In [9]:
#Cleaning customer lifetime value: 

#using the function string.replace('  ', ' '), to substitute the % sign in the column CLTV

insurance['customer lifetime value'] = list(map(lambda x: x.replace('%', ''), insurance['customer lifetime value']))


#after replacing the % sing, counting values to check if sign is gone, and see most repetitive values
insurance['customer lifetime value'].value_counts(dropna=False)

customer lifetime value
0             2940
445811.34        4
251459.20        4
2412750.40       3
684615.03        3
              ...
1210120.88       1
245357.08        1
507566.27        1
321497.94        1
899704.02        1
Name: count, Length: 1028, dtype: int64

In [10]:
#Cleaning customer lifetime value: 

#Converting the customer lifetime value column into numeric values
insurance['customer lifetime value'] =  pd.to_numeric(insurance['customer lifetime value'], errors='coerce')

#file['date_time'] = pd.to_datetime(file['date_time'], errors='coerce')

#insurance['number of open complaints'] =  pd.to_datetime(insurance['number of open complaints'], errors='coerce')

#checking if data type changed to float
display(insurance.dtypes)

customer                      object
st                            object
gender                        object
education                     object
customer lifetime value      float64
income                       float64
monthly premium auto         float64
number of open complaints     object
policy type                   object
vehicle class                 object
total claim amount           float64
dtype: object

In [11]:
#Cleaning'number of open complaints':

#checking number of counts of 'number of open complaints'values, including and most importantly number of NaN
insurance['number of open complaints'].value_counts(dropna=False)

number of open complaints
NaN       2937
1/0/00     830
1/1/00     138
1/2/00      50
1/3/00      34
1/4/00      13
1/5/00       6
Name: count, dtype: int64

In [12]:
#Cleaning'number of open complaints':

#using the function fillna("0/0"), to substitute the NaN value with the strin "0/0" in the column CLTV

insurance['number of open complaints']=insurance['number of open complaints'].fillna("0/0")

In [13]:
#Cleaning'number of open complaints':

#using the function string.split('/'), to substitute the / sign 

insurance['number of open complaints'] = list(map(lambda el: el.split('/')[1], insurance['number of open complaints']))

#after replacing the / sing, counting values to check if sign is gone, and see most repetitive values
insurance['number of open complaints'].value_counts(dropna=False)

number of open complaints
0    3767
1     138
2      50
3      34
4      13
5       6
Name: count, dtype: int64

In [14]:
#Converting the 'number of open complaints' column into numeric values
insurance['number of open complaints'] =  pd.to_numeric(insurance['number of open complaints'], errors='coerce')

#checking if data type changed to integer
display(insurance.dtypes)

customer                      object
st                            object
gender                        object
education                     object
customer lifetime value      float64
income                       float64
monthly premium auto         float64
number of open complaints      int64
policy type                   object
vehicle class                 object
total claim amount           float64
dtype: object

### Challenge 1 - Question/answer: ### 

Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights

In [15]:
insurance.head()

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,0.00,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323

In [16]:
insurance.nunique()

customer                     1071
st                              8
gender                          5
education                       6
customer lifetime value      1028
income                        774
monthly premium auto          132
number of open complaints       6
policy type                     3
vehicle class                   6
total claim amount            761
dtype: int64

In [19]:
#Shape of dataframe mentions we have 4008 rows. Checking count of NaN, to understand number of rows without a customer value 
insurance['customer'].value_counts(dropna=False)

customer
NaN        2937
KH59823       1
HQ82233       1
OL72737       1
ZQ59828       1
           ...
RO26085       1
ES57969       1
JK55587       1
RN97635       1
TA82973       1
Name: count, Length: 1072, dtype: int64

In [20]:
insurance['st'].value_counts(dropna=False)

st
NaN           2937
Oregon         320
California     211
Arizona        186
Cali           120
Nevada          98
Washington      81
WA              30
AZ              25
Name: count, dtype: int64

In [24]:
insurance['gender'].value_counts(dropna=False)

gender
NaN       3054
F          457
M          413
Male        39
female      28
Femal       17
Name: count, dtype: int64

In [23]:
insurance['education'].value_counts(dropna=False)

education
NaN                     2937
Bachelor                 324
College                  313
High School or Below     296
Master                    94
Doctor                    37
Bachelors                  7
Name: count, dtype: int64

In [25]:
insurance['income'].value_counts(dropna=False)

income
NaN        2937
0.0         252
43860.0       4
17622.0       4
14072.0       3
           ...
58557.0       1
25632.0       1
18768.0       1
47945.0       1
55873.0       1
Name: count, Length: 775, dtype: int64

In [27]:
display(insurance['monthly premium auto'].value_counts(dropna=False))
display(insurance['policy type'].value_counts(dropna=False))
display(insurance['vehicle class'].value_counts(dropna=False))
display(insurance['total claim amount'].value_counts(dropna=False))

monthly premium auto
NaN       2937
65.0        47
63.0        39
73.0        37
67.0        37
          ...
181.0        1
276.0        1
253.0        1
180.0        1
1000.0       1
Name: count, Length: 133, dtype: int64

policy type
NaN               2937
Personal Auto      780
Corporate Auto     234
Special Auto        57
Name: count, dtype: int64

vehicle class
NaN              2937
Four-Door Car     576
Two-Door Car      205
SUV               199
Sports Car         57
Luxury SUV         20
Luxury Car         14
Name: count, dtype: int64

total claim amount
NaN           2937
321.600000      19
331.200000      15
312.000000      14
350.400000      14
              ...
421.484456       1
430.505942       1
7.646763         1
55.510526        1
221.856184       1
Name: count, Length: 762, dtype: int64

In [28]:
display(insurance['customer lifetime value'].value_counts(dropna=False))
display(insurance['number of open complaints'].value_counts(dropna=False))

customer lifetime value
0.00          2940
445811.34        4
251459.20        4
2412750.40       3
684615.03        3
              ...
1210120.88       1
245357.08        1
507566.27        1
321497.94        1
899704.02        1
Name: count, Length: 1028, dtype: int64

number of open complaints
0    3767
1     138
2      50
3      34
4      13
5       6
Name: count, dtype: int64

In [30]:
#By performing the unique function in each column, we found out that there are 2937 rows, with empty (or'NaN') values. We will remove these rows

#Before removing rows, we will replace the NaN values of gender with '0' to avoid loosing 117 rows (NaN values of gender have a total of 3054)

insurance['gender']= insurance['gender'].fillna("0")

display(insurance['gender'].value_counts(dropna=False))

gender
0         3054
F          457
M          413
Male        39
female      28
Femal       17
Name: count, dtype: int64

In [33]:
#Here we are removing al NaN rows
insurance = insurance.dropna()
insurance

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,0,Master,0.00,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.03,38644.0,78.0,1,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76,63209.0,102.0,2,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11,79487.0,114.0,0,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02,54230.0,112.0,0,Personal Auto,Two-Door Car,537.600000

In [38]:
display(insurance['gender'].value_counts(dropna=False))

gender
F         457
M         413
0         117
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [40]:
display(insurance.dtypes)

customer                      object
st                            object
gender                        object
education                     object
customer lifetime value      float64
income                       float64
monthly premium auto         float64
number of open complaints      int64
policy type                   object
vehicle class                 object
total claim amount           float64
dtype: object

In [37]:
def clean(x):
    if x in ['M', 'Male']:
        return 'Male'
    elif x.startswith('F','female','Femal'):
        return 'Female'
    else:
        return 'Unknown'

insurance['gender'] = list(map(clean, insurance['gender']))
#display(insurance['gender'].value_counts(dropna=False))

TypeError: slice indices must be integers or None or have an __index__ method

In [41]:
#Numerical variables
numerical_variables = ["customer lifetime value","income","monthly premium auto","number of open complaints","total claim amount"]

In [43]:
insurance[numerical_variables].max()

customer lifetime value      5.816655e+06
income                       9.996000e+04
monthly premium auto         3.535400e+04
number of open complaints    5.000000e+00
total claim amount           2.893240e+03
dtype: float64

In [44]:
insurance[numerical_variables].min()

customer lifetime value       0.000000
income                        0.000000
monthly premium auto         61.000000
number of open complaints     0.000000
total claim amount            0.382107
dtype: float64

In [42]:
# Calculating range
insurance[numerical_variables].max() - insurance[numerical_variables].min()

customer lifetime value      5.816655e+06
income                       9.996000e+04
monthly premium auto         3.529300e+04
number of open complaints    5.000000e+00
total claim amount           2.892858e+03
dtype: float64

#### Conclusions
- There were 2937 empty rows that were eliminated from the file
- There is data of 1071 customer in total
- Customer have a unique identifier, so we will not be considered a categorical variable
- Categorical variables are the following: st (Nominal), gender (Nominal), education (Ordinal), policy type (Ordinal), and vehicle class (Nominal). For each variable, there is a count above of each value is describing them
- Note: Tried cleaning Gender with the function used during class, but did not managed to work it out
- The range of all numerical variables is HIGHLY dispersed

### Challenge 1 - Question/answer: ### 

- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [45]:
insurance[numerical_variables].mean()

customer lifetime value      791467.037330
income                        39295.701214
monthly premium auto            193.234360
number of open complaints         0.394024
total claim amount              404.986909
dtype: float64

In [46]:
insurance[numerical_variables].median()

customer lifetime value      584932.150000
income                        36234.000000
monthly premium auto             83.000000
number of open complaints         0.000000
total claim amount              354.729129
dtype: float64

In [48]:
insurance[numerical_variables].max()

customer lifetime value      5.816655e+06
income                       9.996000e+04
monthly premium auto         3.535400e+04
number of open complaints    5.000000e+00
total claim amount           2.893240e+03
dtype: float64

In [47]:
insurance[numerical_variables].mode()

,customer lifetime value,income,monthly premium auto,number of open complaints,total claim amount
0,251459.20,0.0,65.0,0.0,321.6
1,445811.34,NaN,NaN,NaN,NaN

#### Conclusions ###
`Numerical columns`
- Overall, values of min, max, mean, median, and mode, are quite disperse, suggesting that customer's need to be segmented by Policy type in order to calculate those central tendencies values for each segment in order to find more meaningful insights

`Categorical columns`
- Policy type: Most number of policies are Personal Auto (780), followed by Corporate (234), and special (54)
- State: most clients come from the west coast (California: 331, Oregon: 320, Arizona: 211, Nevada: 98

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [ ]:
# Your code here

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [ ]:
# Your code here

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [ ]:
# Your code here

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here